nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #e9ecef;
}

a svg {
  color: #1496ed;
  margin-right: 5px;
}

.navbar-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
}

.navbar-end {
  display: flex;
}

@media screen and (max-width: 1090px) {
  .navbar-menu {
    padding: .5rem 2rem;
  }
}