.body-reset-wrapper {
  height: 100vh;
  padding-top: 50px;
  background-color: #e6ecf0;
}

.form-reset-wrapper {
  margin: auto;
  max-width: 100vh;
  padding: 40px 100px;
  background: #fff;
}

.form-reset-wrapper p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.help-reset {
  color: #ff3680;
  background-color: antiquewhite;
}


.form-reset-wrapper input {
  box-shadow: none;
}
